<div class="d-flex justify-content-evenly align-items-center container-home">
<app-list [products]="products" (productDetail)="showDetail($event)"></app-list>
  <div class="container-splash text-center" *ngIf="hide; else detail">
    <h2>Benvenuti nello shop di</h2>
    <img src="https://www.develhope.co/_nuxt/img/cav_black.9dc2b13.svg">
    <h3 class="mt-5">Clicca sui dettagli del prodotto per visualizzare tutte le informazioni</h3>
  </div>
  <ng-template #detail>
    <app-details [product]="product" (closeDetail)="closeDetail($event)"></app-details>
  </ng-template>
</div>

